<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlickList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="header">
    <h3 id="todoHeader">FlickList</h3>
    <img id="todoIMG" src="./popcorn.png" alt="popcorn movie ticket">
  </div>
    <h4>Movies to Watch</h4>

    <h2><%= user.userName %> has <%= left %> movie(s) left to watch.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Movie" name='todoItem'>
        <input type="text" placeholder="Enter Movie Genre" name='movieGenre'>
        <input type="submit">
    </form>
<br>

<form action="" method = ''>
  <label for="sort">Sort movies by:</label>
  <select name="sort" id="sortID">
    <option value="oldest" disabled selected>Oldest</option>
    <option value="newest" disabled>Newest</option>
    <option value="title">Title</option>
    <option value="genre">Genre</option>
  </select>
  <!-- <br><br> -->
  <!-- <input type="submit" value="Sort"> -->
</form>

<!-- <form action="/todos/sortByGenre" method = 'GET'>
  <label for="genres">Choose a movie:</label>
  <select name="genres" id="genreID">
    <option value="Action">Action</option>
    <option value="Horror">Horror</option>
    <option value="Romance">Romance</option>
    <option value="Comedy">Comedy</option>
  </select>
  <br><br>
  <input type="submit" value="Sort">
</form> -->
<div id="titles">
  <span class="tableHeader">Title:</span>
  <span class="tableHeader">Genre:</span>
  <span class='del'></span>
</div>
<ul>
  <% todos.forEach( el => { %>
          <li class='todoItem' data-id='<%=el._id%>'>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.genre %></span>
            <span class='del'> Delete </span>
          </li>
  <% }) %>
  </ul>

    <a id="logout" href="/logout">Logout</a>



    <script src="js/main.js"></script>
</body>
</html>