<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlickList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Movies to Watch</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
              <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
              <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.genre %></span>
              <span class='del'> Delete </span>
            </li>
    <% }) %>
    </ul>

    <h2><%= user.userName %> has <%= left %> movies left to watch.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Movie" name='todoItem'>
        <select name="movieGenre">
          <option value="" disabled selected>Select Movie Genre</option>
          <option value="action">Action</option>
          <option value="adventure">Adventure</option>
          <option value="comedy">Comedy</option>
          <option value="crime">Crime</option>
          <option value="drama">Drama</option>

          <option value="horror">Horror</option>
          <option value="thriller">Thriller</option>
          <option value="science fiction">Science Fiction</option>
          <option value="mystery">Mystery</option>
          <option value="documentary">Documentary</option>
        </select>
        <!-- <input type="text" placeholder="Enter Movie Genre" name='movieGenre'> -->
        <input type="submit">
    </form>
<br>

<form action="" method = ''>
  <label for="sort">Sort movies by:</label>
  <select name="sort" id="sortID">
    <option value="oldest" disabled selected>Oldest</option>
    <option value="newest" disabled>Newest</option>
    <option value="title">Title</option>
    <option value="genre">Genre</option>
  </select>
  <!-- <br><br> -->
  <!-- <input type="submit" value="Sort"> -->
</form>

<form action="" method = ''>
  <label for="genres">Filter movies by genre:</label>
  <select name="genres" id="genreID" multiple>
    <option value="" disabled selected>Choose here</option>
    <option value="action">Action</option>
    <option value="adventure">Adventure</option>
    <option value="comedy">Comedy</option>
    <option value="crime">Crime</option>
    <option value="drama">Drama</option>

    <option value="horror">Horror</option>
    <option value="thriller">Thriller</option>
    <option value="science fiction">Science Fiction</option>
    <option value="mystery">Mystery</option>
    <option value="documentary">Documentary</option>
  </select>
  <!-- <br><br> -->
  <!-- <input type="submit" value="Sort"> -->
</form>

<!-- <form action="/todos/sortByGenre" method = 'GET'>
  <label for="genres">Choose a movie:</label>
  <select name="genres" id="genreID">
    <option value="Action">Action</option>
    <option value="Horror">Horror</option>
    <option value="Romance">Romance</option>
    <option value="Comedy">Comedy</option>
  </select>
  <br><br>
  <input type="submit" value="Sort">
</form> -->



    <a id="logout" href="/logout">Logout</a>



    <script src="js/main.js"></script>
</body>
</html>